body {
    color: #000005;
    background-color: blanchedalmond;
}

.logo {
    width: 60%;
    float: right;
  height: 50px; /* tamaño en pantallas grandes */
  width: auto;
  max-width: 100%; /* para que no desborde en pantallas chicas */
  margin-right: 10px;
}
.second {
    clear: right;
    justify-content: flex-end;
}
.logo-carys {
    margin-right: 20px;
    margin-top: 15px;
    width: 100px;
}
div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  .scroll-container img {
    padding: 10px;
    flex-shrink: 0;
    width: 600px; /* tamaño por defecto */
    height: auto; /* que mantenga proporción */
    max-width: 100%; /* no pase el tamaño de la pantalla */
  border-radius: 8px;
  }
  .mb-0 {
    color: rgb(250, 248, 248);
  }