body {
    color: #000005;
    background-color: blanchedalmond;
}
.container {
    width: 400px;
}
img {
    width: 60%;
    float: right;
    
}
.second {
    clear: right;
}
.logo-carys {
    margin-right: 20px;
    margin-top: 15px;
    width: 100px;
}